body {
  min-height: 100vh;
  font-family: Fractul !important;
  text-decoration: none;
}
section {
  min-height: 100vh;
  padding: 5rem;
  text-decoration: none;
  color: $sub-color;
  @media (max-width: 1366px) {
    padding: 2rem 2.5rem;
  }
  @media (max-width: 768px) {
    padding: 1rem;
    padding-top: 2.6rem;
  }
}
.featured-section {
  color: $sub-color;
  display: flex;
  height: 100%;
  gap: 3rem;
  margin-bottom: 1.5rem;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    .img {
      width: 100%;
      height: 100%;
    }
  }
  h1 {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.5rem;
  }

  p {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .left-featured-section {
    padding: 2.4rem 1.5rem;
    justify-content: center;

    @media (max-width: 1366px) {
      padding: 0.8rem 2.5rem;
    }
    @media (max-width: 768px) {
      padding: 3rem 0;
      padding-top: 0;
    }
    h1 {
      width: 90%;
      color: $sub-color;
      &:hover {
        color: $main-color;
      }

      @media (max-width: 1366px) {
        font-size: 2rem;
        width: 100%;
      }
      @media (max-width: 768px) {
        font-size: 1.6rem;
        line-height: 2rem;
      }
    }
    p {
      width: 90%;
      margin-bottom: 2rem;
      margin-top: 1.5rem;

      @media (max-width: 1366px) {
        font-size: 1.3rem;
        width: 100%;
        color: $sub-color;
      }
      @media (max-width: 768px) {
        margin-bottom: 1rem;
        margin-top: 1rem;
        font-size: 1.2rem;
        line-height: 1.6rem;
      }
    }
    .line-clamp {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      @media (max-width: 768px) {
        -webkit-line-clamp: 3;
      }
    }

    .date-and-time {
      gap: 17rem;
      display: flex;
      align-items: center;
      padding-bottom: 2rem;
      @media (max-width: 768px) {
        gap: 9rem;
        padding-bottom: 1rem;
      }
      h2,
      span {
        font-size: 1rem;
        @media (max-width: 768px) {
          font-size: 0.8rem;
        }
      }
      span {
        opacity: 1;
        color: $dark-grew;
      }
    }

    button {
      cursor: pointer;
      font-size: 1.5rem;
      padding: 1rem 2rem;
      border: none;
      background-color: $main-color;

      &:hover {
        color: white;
        background-color: $sub-color;
        border-radius: none;
      }
      @media (max-width: 768px) {
        padding: 0.8rem 2rem;
        font-size: 1rem;
      }
    }

    .author-name {
      font-weight: bolder;
      font-size: 0.7rem;
      padding-top: 0.6rem;
    }
  }
}
