body {
  min-height: 100vh;
  // font-family: Fractul !important;
}

.full-blog-display {
  display: flex;
  flex-direction: column;
  padding: 0;
  max-width: 100%;

  .image-container {
    position: relative;
    width: 100vw;
    height: 500px;
    @media (max-width: 768px) {
      height: 250px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .SwiperSlide {
      img {
        width: 100%;
      }
    }
  }

  .all-content {
    @media (max-width: 1366px) {
      // width: 100%;
      padding: 2rem 6rem;
    }
    @media (max-width: 768px) {
      padding: 1rem;
      padding-top: 1rem;
    }
    padding: 2rem 10rem;
    h1 {
      font-size: 3rem;
      font-weight: 300;
      @media (max-width: 768px) {
        font-size: 2rem;
      }
    }

    h3 {
      font-weight: bolder;
    }
    .date {
      padding-top: 1rem;
      font-weight: 500;
    }

    .main-blog-text {
      line-height: 2.3rem;

      .first-paragraph {
        font-size: 1.5rem;
        padding-top: 2.5rem;
        @media (max-width: 768px) {
          padding-top: 1.5rem;
          font-size: 1.3rem;
        }
      }

      .sub-title1,
      .subTitle2 {
        padding-top: 3.5rem;
        font-size: 2rem;
        @media (max-width: 768px) {
          padding-top: 1.5rem;
          font-size: 2rem;
        }
      }

      .banner-img {
        .img {
          @media (max-width: 768px) {
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .second-paragraph,
    .third-paragraph {
      font-size: 1.5rem;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      @media (max-width: 768px) {
        font-size: 1.3rem;
      }
    }

    .share-links {
      padding-top: 2.5rem;
      display: flex;
      align-items: center;
      gap: 1rem;
      cursor: pointer;

      h1 {
        font-size: 1rem;
        font-weight: bold;
      }
      .icons:hover {
        cursor: pointer;
        color: $main-color;
      }
    }
  }
}
