@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

$main-color: #3c1c13;
$sub-color: #c67b40;
$card-color: #ebe1de;
$card-shadow-color: rgba(0, 0, 0, 0.254);

body {
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  // justify-content: center;
}
section{
  min-height: 100vh;
  padding: 5rem ;
  @media (max-width: 768px) {
    padding: 2rem;
  }
}
.featured-section {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: $card-color;
  gap: 3rem;

    h1{
        font-weight: 700;
        font-size: 2.5rem;
        line-height: 3.5rem;
    }

    p{
        font-size: 1.5rem;
        line-height: 2rem;
    }

  @media (max-width: 768px) {
    flex-direction: column;
    height: 100%;
    width: 100%;
    // gap: 3rem;
    h1{
      font-weight: 700;
        font-size: 1.6rem;
        line-height: 1.9rem
    }

    p{
      font-size: 1.2rem;
      line-height: 2rem;
     }
  }
  .left-featured-section {
    width: 45%;
    height: 70%;
    padding: 2.4rem 3.4rem;
    @media (max-width: 768px) {
      padding: 1rem;
    }

    p {
      padding: 1rem 0.001rem;
    }

    img {
      object-fit: fit;
      position: absolute;
      right: 8rem;
      height: 38%;
      width: 17%;
      bottom: 27%;
      z-index: 3;
      border-radius: 35px; 
    }

      .icons{
      align-items: center;
      display: flex;
      .left-icons{
        width: 40%;
        display: flex;
        align-items: center;
      }
      .right-icons{
        width: 60%;
        display: flex;
        align-items: center;
      }
      
      padding-top: 2rem;
      width:100%;
      @media (max-width: 768px) {
        width: 90%;
        margin: 0 auto;
      }
     
      .iconMarginLeft,.leftRep{
        width: 100px;
        // margin-right: 2rem;
        padding: 0;
        @media (max-width: 768px) {
          margin-right:0;
          width: 200px;
         
        }
      }
      .iconMarginRight{
          @media (max-width: 768px) {
            margin-left: 2rem;
            // width: 30px;
          }
      }
      h4{
          font-weight: 600;
          font-size: 1rem;
          color: $sub-color;
          // margin-left: 0;
          @media (max-width: 768px) {
          width: 100%;
          }
      }
     }
   @media (max-width: 768px) {
    width: 100%;
    padding: 0;

    p {
      padding: 1rem 0;
    }

    img{
      display: none;
    }


  }
  }
  .right-image-section {
    object-fit: fit;
    width: 40%;
    height: 70%;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    @media (max-width: 768px) {
      width: 100%;
    }
    img {
      width: 100%;
        height: 100%;
      position: absolute;
      @media (max-width: 768px) {
        display: flex;
        width: 100%;
        height: 100%;
      }
    }
  }
}