.container {
  max-width: 100%;
}

.flex-cols {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;

  .left-column {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: $primary;

    h2 {
      font-size: 4rem;
      width: 500px;
    }

    span {
      cursor: pointer;
      font-weight: bolder;
      color: $main-color;
      text-decoration: underline;
      &:hover {
        text-transform: uppercase;
        color: $sub-color;
      }
    }

    p {
      width: 44rem;
      font-size: 1.5rem;
      padding: 20px 0;
    }

    .buttons {
      display: flex;
      // border: transparent 0;
      // color: $primary;
      // padding: 2rem 0;
      gap: 1.5rem;

      button {
        cursor: pointer;
        background-color: transparent 0;
        border: none;
        font-size: 1.2rem;
        width: fit-content;
        padding: 1rem 3rem;
      }

      .btn-1 {
        background-color: $main-color;
      }

      .btn-1:hover {
        border: 1px solid $sub-color;
        background-color: $primary;
      }
    }
    .btn-2 {
      background-color: $primary;
    }

    .btn-2:hover {
      border: 1px solid $main-color;
    }
  }

  .info-section {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;

    .col-1,
    .col-2,
    .col-3 {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    h1 {
      font-size: 1.5rem;
      font-weight: 700;
    }
  }
}

//These are styles for the whole right-column div!
.right-column {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  justify-content: center;
  padding: 0 7rem;
  padding-top: 20rem;
  color: $primary;
  background-color: red;
  // background-image: url("/images/author-image4.jpg");
  background-size: 100%;
  background-position: 100%;
  background: cover;
  background-repeat: no-repeat;
  background-position: center bottom;

  .col-image {
    position: relative;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: co;
    }
  }
  // @media (max-width: 1366px) {
  //   padding-top: 0 45rem;
  //   overflow: hidden;
  // }
  // @media (max-width: 736px) {
  //   width: 100%;
  //   align-items: flex-start;
  //   overflow: hidden;
  // }

  .subscribe-form {
    margin-top: 1.5rem;
    // width: 80%;
    display: flex;
    background-color: $primary;
    padding: 1rem 1rem;
    justify-content: center;
    align-items: center;

    #email-input {
      padding: 1.1rem;
      color: $sub-color;
      background-color: transparent;
      color: $sub-color;
      border: none;
      font-size: 16px;
      width: 300px;
    }

    #subscribe-btn {
      padding: 19px 20px;
      background-color: $main-color;
      color: $primary;
      border: none;
      font-size: 16px;
      cursor: pointer;
    }

    #subscribe-btn:hover {
      background-color: none;
    }
  }
}

// @media (max-width: 768px) {
//   .container {
//     flex-direction: column-reverse;
//     padding: 0;
//     min-height: 100%;
//   }

//   .left-column {
//     padding: 2rem 0;
//     width: 100%;
//     height: 100vh;
//     overflow: hidden;
//   }

//   .right-column {
//     padding-top: 1rem;
//     padding: 5rem 1rem;
//     width: 100%;
//     height: 100vh;
//   }
// }
