@import url("/styles/stylesheet.css");

header {
  list-style: none;
  // font-family: Fractul;
  width: 100%;
  position: fixed;
  z-index: 9999;
  // top: 0;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10rem;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  @media (max-width: 1366px) {
    padding: 1.5rem 5rem;
  }
  @media (max-width: 900px) {
    padding: 1rem 2rem;
  }
  @media (max-width: 414px) {
    padding: 0.9rem 1rem;
  }
  a {
    font-weight: 600;
    font-size: 1.1rem;
    text-decoration: none;
    color: $sub-color;
  }
  .logo {
    text-transform: uppercase;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    :hover {
      color: $main-color;
    }
  }
  nav {
    display: flex;
    gap: 5rem;
    transition: all 0.6s ease-in-out;
    :hover {
      color: $main-color;
      transition: all 0.1s;
    }
    @media (max-width: 830px) {
      // display: none;
      position: fixed;
      top: 73px;
      background-color: $primary;
      width: 100%;
      left: 0;
      right: 0;
      bottom: 0;
      // align-items: center;
      padding: 1rem 2.2rem;
      opacity: 0;
      visibility: hidden;
      transform: scale(0);
      flex-direction: column;
      a {
        border-bottom: 1px solid rgba($sub-color, 0.2);
        padding: 0.6rem 0;
        transition: all 0.3s ease-in-out;
        &:last-child {
          border-bottom: none;
        }
        &:hover {
          font-weight: bold;
        }
      }
    }

    .activeLinks {
      color: $main-color;

      &:hover {
        color: $sub-color;
      }
    }
  }
  .showNav {
    text-decoration: none;
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  .cta {
    a {
      border: 1px solid $sub-color;
      padding: 1rem 3rem;
      color: $sub-color;
      // border-radius: 30px;
      transition: all 0.8s;
      text-transform: uppercase;
      @media (max-width: 768px) {
        padding: 0.7rem 1.7rem;
      }
      @media (max-width: 560px) {
        display: none;
      }
      &:hover {
        color: $primary;
        border: $main-color;
        background-color: rgba($main-color, 0.8);
      }
    }
  }
}
#humbergMenu {
  display: none;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  background: transparent;
  border: none;
  cursor: pointer;
  @media (max-width: 830px) {
    display: flex;
  }
  span {
    height: 2px;
    width: 30px;
    background-color: $sub-color;
    transition: all 0.5s ease-in-out;
  }
}
#humbergMenu.showNav {
  span {
    &:nth-child(1) {
      transform: rotate(45deg) translateY(50%) translateX(10%);
    }
    &:nth-child(2) {
      display: none;
    }
    &:nth-child(3) {
      transform: rotate(-45deg) translateY(-50%) translateX(10%);
    }
  }
}
