@media screen and (max-width: 467.98px) {
  .recent-works {
    padding: 0;
    overflow: hidden;
    .mainRecent-text {
      padding: 1rem 2.6rem;
      // background-color: red;
      span {
        color: #1d4ed8;
        font-weight: 700;
      }
      h1 {
        font-size: 1rem;
        font-weight: 800;
        padding-top: 0.8rem;
        font-size: 1.5rem;
      }
    }
    .recent-works-grid {
      // display: grid;
      gap: 1rem;
      display: flex;
      padding: 1rem 2.6rem;
      flex-direction: column;
      // grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
      .recent-card {
        padding: 1rem;
        color: $primary;
        border-radius: 12px;
        background-color: #1d4ed8;
        // .recent-card-img{
        //   position: relative;
        //   width: 500px;
        //   height: 100px;
        //   img{
        //     width: 100%;
        //     height: 100%;
        //     object-fit: contain;
        //   }
        // }
      }
    }

    .container {
      padding: 1rem 2.6rem;
      display: flex;

      .card {
        min-width: 0;
        position: relative;
        word-wrap: break-word;
        border-radius: 0.8rem;
        flex-direction: column;
        background-color: #fff;
        background-clip: border-box;
        border: 2px solid $sub-color;
      }

      .card-footer,
      .card-img {
        border-bottom-right-radius: 0.8rem;
        border-bottom-left-radius: 0.8rem;
      }
      .media-body {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .card-footer {
        padding: 1.5rem;
        background-color: transparent;
        border-top: 0;
      }

      .card-cup,
      .card-img {
        border-top-right-radius: 0.8rem;
        border-top-left-radius: 0.8rem;
      }

      .card > hr {
        margin-right: 0;
        margin-left: 0;
      }

      .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem 1.25rem;
        .title{
          padding-bottom: .8rem;
        }
        .sub-title{
          color: #1d4ed8;
          font-weight: 700;
          font-size: .8rem;
        }
      }

      .card-img-overlay {
        top: 0;
        padding: 1.25rem;
      }

      .card-img {
        flex-shrink: 0;
        width: 100%;
      }

      .card-columns {
        padding-top: 15px;
      }

      .card-columns .card {
        margin-bottom: 12px;
      }

      p.card-text,
      .secondary {
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        opacity: 0.75;
        line-height: 25px;
        text-overflow: clip;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      .text-muted,
      i.pr-1 {
        font-size: 13px;
        font-weight: 400;
      }

      .card.border-0 {
        box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d;
        background: hsl(220deg 14% 97%);
        text-align: left;
        background-color: #fff;
        position: relative;
        margin-top: 12px;
        border: 1px solid #eee;
        transition: 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
        color: #000;
      }

      .read-more,
      .read-more-two {
        border-radius: 5px;
        letter-spacing: 0.5px;
        background-color: $sub-color;
        color: $primary;
        font-weight: 600;
        border: none;
        padding: 0.8rem 12px;
        text-transform: uppercase;
        font-size: 11px;
      }
      .read-more-two {
        display: flex;
        gap: 0.5rem;
        font-size: 1rem;
        color: $sub-color;
        align-items: center;
        padding: 0.8rem 2rem;
        background-color: transparent;
        border: 2px solid #1d4ed8;
      }
      span.badge.badge-light {
        a{
          color: $primary;
          text-decoration: none;
        }
        font-size: 1rem;
        padding: 4px 5.5px;
        background-color: #1d4ed8;
        box-shadow: 0 0 0.25px #1d4ed8,
          -0.5px -0.75px 1px rgba(20, 20, 20, 0.15);
        border-radius: 4px;
        color: #fff;
      }

      .mt-n5,
      .my-n5 {
        margin-top: -4rem;
      }

      .card-img-overlay.three {
        position: relative;
        height: 200px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        content: " ";
        // height: 140px;
        // width: 100%;
        // display: block;
        position: relative;
        // background-image: url("/public/images/second_blog.jpg");
        // background-size: cover;
        border-radius: 12px 12px 2px 2px;
        // background-position: 0% 50%;
      }
      .card-img-overlay.four {
        content: " ";
        height: 140px;
        width: 100%;
        display: block;
        position: relative;
        background-image: url(https://cdn.shopify.com/s/files/1/0758/3005/products/A3_DAY_ArtPrint_1200x.jpg?v=1605692196);
        background-size: cover;
        border-radius: 12px 12px 2px 2px;
        background-position: 0% 50%;
      }
    }
  }
}
