.footer-section {
  font-size: 1rem;
  padding: .6rem 5rem;
  color: $primary;
  background-color: $main-blue-color;

  .footer-col {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .sub-flex-wrapper {
      font-size: 1.3rem;
      display: flex;
      gap: 1.5rem;
      cursor: pointer;
      a {
        color: $primary;
        text-decoration: none;

        &:hover {
          color: $main-color;
        }
      }
    }
    .privacy-policy {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
    }
    .footer-logo {
      position: relative;
      height: 100px;
      width: 100px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
