.sub-footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 26rem;
  font-size: 0.8rem;
  padding: 1rem 10rem;

  color: $primary;
  background-color: $main-blue-color;

  .sub-flex-wrapper {
    font-size: 1.3rem;
    cursor: pointer;
    display: flex;
    gap: 30px;
  }

  .privacy-policy {
    font-weight: 600;
    text-align: center;
    line-height: 1.3rem;
    flex-direction: column;
    h3 {
      font-weight: 300;
    }

    display: flex;
    // gap: 30px;
  }
}
