@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

$secondary-font: "Montserrat", sans-serif;
$primary: #fff;
// $sub-color: #09090b;
$sub-color: #020617;
$dark-grew: #909090;
$card-color: #ebe1de;
$main-color: #10b981;
$main-blue-color: #4253a4;
$card-shadow-color: rgba(0, 0, 0, 0.254);
$box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
  rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
